.dashboard-content {
  margin-left: 0;
  padding: 16px;
  transition: margin-left 0.3s ease;
  margin-top: 64px;
}

@media (min-width: 768px) {
  .dashboard-content {
    margin-left: 220px;
    margin-top: 64px;
  }
}
